<template name="newMessages">
  {{#if conversations.count}}
  <div>
    <ul>
      {{#each conversations}}
      <li>
        <a>
        {{#with otherUser users}}
            <img class="photo-icon"
                 title="{{name}}"
                 alt="{{name}}"
                 src="{{#if photo}}{{photo.url}}{{else}}http://www.gravatar.com/avatar/?d=mm{{/if}}"/>
        {{/with}}
        {{#if unread}}
            <span class="badge">{{unread}}</span>
        {{/if}}
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/if}}
</template>