<template name="register">
  <form action="">
    <div class="form-group">
      <label class="placeholder" for="name">Name</label>
      <input type="text" placeholder="Name" name="name" id="name" class="form-control validate[required]" data-prompt-position="topLeft">
    </div>
    <div class="form-group">
      <label class="placeholder" for="email">Email</label>
      <input type="email" placeholder="your@email.address" name="email" id="email" class="form-control validate[required,custom[email]]" data-prompt-position="topLeft">
    </div>
    <div class="form-group">
      <label class="placeholder" for="password">Password</label>
      <input type="password" placeholder="Password" name="password" id="password" class="form-control validate[required]" autocomplete="off" data-prompt-position="topLeft">
    </div>
    <input id="register" type="submit" class="btn btn-primary" value="Register" />
    <a href="#" id="login" class="btn btn-link">or log in</a>
  </form>
</template>
