<!doctype html>
<html>
<head>
  <title>tutorwire.org</title>
</head>
<body>
<a href="http://beta.tutorwire.org"><img src="http://tutorwire.meteor.com/images/logo-tutorwire@2x.png" width="259" height="64" alt="Tutorwire logo"></a>
<p>
  <font family="Arial,sans-serif">
  Hi {{to.profile.name}},<br/><br/>
  <strong>{{from.profile.name}}</strong> sent you a new message on <a href="http://beta.tutorwire.org/">tutorwire.org</a>.<br/><br/>
  You can view and reply to the message here: <a href="http://beta.tutorwire.org/conversation/{{data.conversationPuid}}">beta.tutorwire.org/conversation/{{data.conversationPuid}}</a><br/><br/>
  Thanks,<br/><br/>
  <a href="http://beta.tutorwire.org/">tutorwire.org</a>
  </font>
</p>
</body>
</html>