<!doctype html>
<html>
<head>
  <title>tutorwire.org</title>
</head>
<body>
<p>
  Hi {{to.name}},<br/><br/>
  <strong>{{from.name}}</strong> sent you a new message on <a href="http://tutorwire.org/">tutorwire.org</a>.<br/><br/>
  You can view and reply to the message here: <a href="http://beta.tutorwire.org/conversation/{{data.conversationPuid}}">beta.tutorwire.org/conversation/{{data.conversationPuid}}</a><br/><br/>
  Thanks,<br/><br/>
  <a href="http://tutorwire.org/">tutorwire.org</a>
</p>
</body>
</html>